@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";
@theme {
    --color-primary: #f57c00;
    --color-secondary: #0d1b2a;
    --color-tertiary: #bf360c;
    --color-neutral: #415a77;
}

button {
    outline: none;
}

#app {
    background-color: #f3f4f6;
    font-family: "Roboto", sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateX(20px);
}
.min-w-0 {
  min-width: 0;
}
.sidebar-btn:hover {
  background-color: #0d6efd;
}
.header-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.cursor-pointer {
  cursor: pointer;
}

.min-w-0 {
  min-width: 0;
}

.chat-item:hover {
  background-color: rgba(13, 110, 253, 0.08);
}
.admin-link {
  text-decoration: none;
}

.admin-link:hover {
  background-color: rgba(13, 110, 253, 0.15);
}

.admin-link.active {
  background-color: #0d6efd;
}